/* BLOCK 1 */
.about-block1 {
    background-image: url(/Image/background.jpg);
    background-size: 100%;
}

.about-block1__text {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 60px 1rem;
}

.about-block1__text>h2 {
    display: inline-block;
    width: max-content;
    padding: 10px;

    background-color: deeppink;
    border-radius: 4px;

    font-size: 2rem;
    font-weight: 900;
    color: white;

    animation-name: h2animation;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/*  BLOCK 1 -- TABLET CHANGE HEIGHT & FONT SIZE*/
@media only screen and (min-width: 768px) {
    .about-block1 {
        height: 200px;
    }

    .about-block1__text>h2 {
        font-size: 2.8rem;
    }
}

/*  BLOCK 1 -- LAPTOP CHANGE HEIGHT & FONT SIZE*/
@media only screen and (min-width: 992px) {
    .about-block1 {
        height: 300px;
    }

    .about-block1__text>h2 {
        font-size: 3.5rem;
    }
}

/* BLOCK 1 -- ANIMATION */
@keyframes h2animation {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* BLOCK 2 */
.about-block2__row {
    padding: 5rem 0;
}

/* BLOCK 2 -- LAPTOP */
@media only screen and (min-width: 992px) {
    .about-block2__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.about-block2__content,
.about-block2__content>h3,
.about-block2__content>p {
    margin-bottom: 30px;
}

.about-block2__content,
.about-block2__row>a {
    width: 100%;
}

.about-block2__row>a>img {
    max-width: 100%;
}

.about-block2__content>p {
    font-size: 12px;
    color: #838383;
    line-height: 1.7;
}

/*  BLOCK 2 -- TABLET  CHANGE FONT SIZE & LINE HEIGHT */
@media only screen and (min-width: 768px) {
    .about-block2__content>p {
        font-size: 14.1px;
        line-height: 2;
    }
}

/*  BLOCK 2 -- LAPTOP  CHANGE FONT SIZE & LINE HEIGHT */
@media only screen and (min-width: 992px) {
    .about-block2__content>p {
        font-size: 1rem;
        line-height: 2;
        padding-right: 1rem;
    }
}

.about-block2__content>button {
    width: 150px;
    border: none;
    border-radius: 4px;
    background-color: deeppink;

    font-size: large;
    color: white;
    font-weight: 700;
    padding: 1rem 20px;
}

/* BLOCK 3 */
.about-block3__row {
    padding: 50px 0;
}

.about-block3__list {
    list-style-type: none;
    height: 100%;
}


.about-block3__list>li {
    text-align: center;
    padding: 1.5rem;
}

.about-block3__list>li>h2 {
    font-style: 40px;
}

/*  BLOCK 3 - TABLET */
@media only screen and (min-width: 768px) {
    .about-block3__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .about-block3__list>li {
        width: 50%;
        padding: 2rem;
        font-size: x-large;
        height: 100%;
    }
}

/*  BLOCK 3 - TABLET */
@media only screen and (min-width: 992px) {
    .about-block3__list>li {
        width: 25%;
        
        font-size: medium;
    }
}