.footer {
    background-image: url(/Image/footer.jpg);
    background-size: cover;
    background-position: bottom;
}

@media only screen and (min-width: 992px) {
    .footer {
        height: 14rem;
    }
}

.footer__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    height: 100%;
    padding: 1rem 0;
}

.footer__col1 {
    width: 100%;
    text-align: center;
}

.footer__col1>img {
    width: 100px;
    height: 70px;
}

.footer__social {
    display: flex;
    list-style-type: none;
    justify-content: center;

    padding-top: 1rem;
}

.footer__social>li {
    margin-right: 1rem;
}

.footer__social>li>a {
    color: white;
}

.footer__col2 {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
}

.footer__menu {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: center;

    padding: 1rem 0;
}

.footer__menu>li {
    padding: .6rem 1.2rem;
}

.footer__menu>li>a {
    color: white;
    text-decoration: none;
}

.footer__menu>li.active>a {
    font-weight: 600;
    color: deeppink;
}

.footer__menu>li:hover>a {
    color: deeppink;
}

.footer__col2>p>span>a {
    color: deeppink;
}

/* Tablet */
@media only screen and (min-width: 768px) {

    .footer__col1,
    .footer__col2 {
        text-align: left;
        padding-top: 0;
    }

    .footer__social,
    .footer__menu {
        justify-content: flex-start;
    }

    .footer__menu>li {
        padding: 0  1.5rem 0 0;
    }
}

/* Destop */

@media only screen and (min-width: 992px) {
    .footer__row {
        flex-flow: row nowrap;
    }

    .footer__col1 {
        width: 30%;
    }

    .footer__col2 {
        width: 70%;
        text-align: right;
    }

    .footer__social {
        flex-flow: row nowrap;
    }

    .footer__menu {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    .footer__menu>li:nth-child(5) {
        margin-right: 0;
    }
}