/* TOP BAR */
.top-bar {
    padding: 1rem 0;
    background-color: #ff26af;
}

/* TOP BAR --- SOCIAL LIST */
.top-bar__social {
    display: flex;
    width: 100%;
}

.top-bar__social-list {
    display: none;
}

.top-bar__social-list>li {
    margin-right: 1.25rem;
}

.top-bar__social-list>li>a {
    color: white;
}

/* TOP BAR -- LINKS */
.top-bar__links {
    text-align: center;
    width: 100%;
}

.top-bar__links>a,
.top-bar__links>span {
    color: white;
}

/* TOP BAR ON TABLE AND LAPTOP*/
@media only screen and (min-width:768px) {
    .top-bar__social-list {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        width: 50%;
    }

    .top-bar__social-list>li {
        margin-right: 1.8rem;
    }

    .top-bar__links {
        width: 50%;
        text-align: right;
    }
}

/* BOTTOM BAR */
.bottom-bar__row {
    padding: 0.5rem 0;
    position: relative;
}

@media only screen and (min-width: 768px) {

    /* BOTTOM BAR - FROM TABLET */
    .bottom-bar__row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        width: 100%;
        padding: 1rem 0;
    }
}

.bottom-bar__row>a {
    display: inline-block;
}

.bottom-bar__row>a>img {
    max-width: 100%;
    height: 36px;
}

.bottom-bar__row>button {
    float: right;

    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: deeppink;
}

.bottom-bar__row>button:nth-child(2) {
    background-color: whitesmoke;
    margin-left: 0.5rem;
    order: 1;
    transition: all 1s ease;
}

.bottom-bar__row>button:nth-child(2).button--active>i {
    transform: rotate(90deg);
}


/* Mobile Navigation menu */
#menu {
    width: calc(100% + 40px);
    max-height: 0;
    list-style-type: none;

    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 99;
    overflow: hidden;

    transition: max-height .5s linear;
}

#menu.show-hide {
    max-height: 250px;
}

ul#menu>li {
    display: block;
    flex-flow: row nowrap;
    width: 100%;
    max-height: 50px;
    background-color: whitesmoke;
    border-top: 1px solid #ededed;
}


ul#menu>li>a {
    display: block;
    width: 100%;
    height: 100%;

    color: black;
    text-decoration: none;
    font-weight: 500;

    padding: 0.5rem 2rem;
}

ul#menu>li.active>a {
    font-weight: 700;
    color: deeppink;
}

/* Tablet Navigation menu */
@media only screen and (min-width: 768px) {
    ul#menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        flex: 1 0 auto;
        width: auto;
        max-height: max-content;

        position: static;
    }

    .bottom-bar__row>a {
        display: block;
        flex: 0 0 auto;
    }

    .bottom-bar__row>a>img {
        height: 50px;
    }

    .bottom-bar__row>button:nth-child(2) {
        display: none;
    }

    .bottom-bar__row>button:nth-child(4) {
        display: block;
        flex: 0 0 auto;
    }

    ul#menu>li {
        display: inline-block;

        width: max-content;
        height: max-content;
        border-top: none;
        background-color: transparent;

        margin-right: 1.5rem;
    }

    ul#menu>li>a {
        display: inline;
        text-decoration: none;
        color: black;
        padding: 0 0;
    }
}

/* laptop navigation menu */
@media only screen and (min-width: 992px) {
    ul#menu>li>a:hover {
        color: deeppink;
    }

    ul#menu>li {
        margin-right: 2rem;
    }
}