/* SECTION RECIPIES - LIST */
.recipies__row {
    padding: 4.5rem 0;
}

.recipies__row>h2 {
    font-size: 2rem;
    position: relative;
}

.recipies__row>h2::before {
    content: "";
    width: 56px;
    border-top: 4px solid deeppink;
    border-right: 4px solid transparent;

    position: absolute;
    top: -10px;
    left: 0;
}

.recipies__list {
    list-style-type: none;
    width: 100%;
    padding-top: 3rem;
}

/* SECTION RECIPIES - LIST -- TABLET */
@media only screen and (min-width: 768px) {
    .recipies__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0 -1rem;
        list-style-type: none;
    }

    .recipies__list>li {
        padding: 0 1rem;
        max-width: 50%;
    }
}

/* SECTION RECIPIES - LIST -- LAPTOP */
@media only screen and (min-width: 992px) {
    .recipies__list>li {
        padding: 0 1rem;
        max-width: 33.333333%;
    }
}

.recipies__list>li {
    padding-top: 2px;
    margin-bottom: 1.25rem;
    position: relative;
}

.recipies__list>li>img {
    max-width: 100%;
}

.recipies__rate {
    height: max-content;
    width: 100%;
    opacity: 0.85;

    position: absolute;
    left: 0;
    bottom: 6.4px;

    overflow: hidden;
}

/* CHANGE LEFT POSITION ON TABLET AND OVER */
@media only screen and (min-width: 768px) {
    .recipies__rate {
        left: 1rem;
    }
}

.recipies__subrate {
    height: max-content;
    width: 60%;
    background-color: deeppink;
    padding: 1rem 0 1rem 1rem;
}

.recipies__subrate>p {
    font-size: 14px;
}

.recipies__subrate::after {
    /* DRAW RIGHT EDGE*/
    content: "";
    width: 70%;
    height: 90px;
    background-color: deeppink;

    z-index: -1;

    position: absolute;
    /* LI - RELATIVE*/
    bottom: -0.6px;
    right: 8%;
    transform: translate(0, -10px) rotate(-251deg);

}

.recipies__rate>p {
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.recipies__star {
    /* STARS RATE*/
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;

    color: #cccccc;
}

.recipies__star>li>i {
    margin-right: 5px;

    color: #e0e3e4;
    font-size: 10px;
}

ul.recipies__star :nth-child(-n + 4)>i {
    color: #fbb710;
}

/* RECIPIES PAGE BUTTONS */
.recipies__page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style-type: none;

    padding-bottom: 30px;
}

.recipies__page>li>button {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;

    margin-right: .5rem;
}

.recipies__page>li>button:hover {
    background-color: deeppink;

}